{% extends 'reviews/base.html' %}
{% load static %}

{% block title %}
    Reviews Page
{% endblock title %}

{% block content %}

    <form method="POST" action="/">
        {% csrf_token %}
        {% for fields in form %}
            <div class="form-control" {% if fields.errors %}errors{% endif %}>
                {{fields.label_tag}}
                {{fields}}
                {{fields.errors}}
            </div>
        {% endfor %}
        <button type="submit">Send</button>
    </form>

{% endblock content %}